<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding">
      <!-- Logo Container -->
      <div class="logo-container">
        <img src="assets/img/icon.png" alt="Logo" class="menu-logo">
        <span class="logo-title">Vinyls</span>
      </div>

      <!-- Mensaje de bienvenida -->
      <div *ngIf="isLoggedIn && userName" class="user-info">
        <p>Bienvenido, {{userName}}</p>
      </div>

      <ion-list>
        <!-- Items siempre visibles -->
        <ion-item routerLink="/home" routerDirection="root" (click)="closeMenu()">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
        
        <ion-item routerLink="/vinilos" routerDirection="root" (click)="closeMenu()">
          <ion-icon name="disc-outline" slot="start"></ion-icon>
          <ion-label>Vinilos</ion-label>
        </ion-item>

        <!-- Items para usuarios logueados -->
        <ng-container *ngIf="isLoggedIn">
          <ion-item routerLink="/cart" routerDirection="root" (click)="closeMenu()">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label>Carrito</ion-label>
          </ion-item>

          <!-- Nuevo ítem para Historial de Compras -->
          <ion-item routerLink="/orders-history" routerDirection="root" (click)="closeMenu()">
            <ion-icon name="receipt-outline" slot="start"></ion-icon>
            <ion-label>Historial de Compras</ion-label>
          </ion-item>

          <ion-item routerLink="/profile-edit" (click)="closeMenu()">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Editar Perfil</ion-label>
          </ion-item>

          <!-- Item solo para admin -->
          <ion-item *ngIf="isAdmin" routerLink="/vinilo-crud" routerDirection="root" (click)="closeMenu()">
            <ion-icon name="create-outline" slot="start"></ion-icon>
            <ion-label>Gestionar Vinilos</ion-label>
          </ion-item>

          <ion-item *ngIf="isAdmin" routerLink="/user-management" routerDirection="root" (click)="closeMenu()">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Gestionar Usuarios</ion-label>
          </ion-item>

          <ion-item (click)="logout()" button>
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ng-container>

        <!-- Items para usuarios no logueados -->
        <ng-container *ngIf="!isLoggedIn">
          <ion-item routerLink="/login" (click)="closeMenu()">
            <ion-icon name="log-in-outline" slot="start"></ion-icon>
            <ion-label>Iniciar Sesión</ion-label>
          </ion-item>

          <ion-item routerLink="/register" (click)="closeMenu()">
            <ion-icon name="person-add-outline" slot="start"></ion-icon>
            <ion-label>Registrarse</ion-label>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Vinyls</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-content>
</ion-app>